@import "../../_globalColor";

.education-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.education-card-left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.education-roundedimg {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0 0.5rem 1rem $lightBoxShadowDarker;
  background-color: white;
  padding: 0.3rem;
}

.education-card-right {
  flex: 1;
}

.education-text-school {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.education-text-subHeader {
  color: $textColor;
  font-weight: 700;
  font-size: 19px;
  margin: 0.3rem 0;
}

.education-text-duration {
  color: $titleColor;
  font-size: 18px;
  margin-bottom: 0.4rem;
}

.education-text-desc {
  margin: 0.3rem 0;
}

.education-text-bullets > ul {
  margin-top: 0.5rem;
  padding-left: 1.2rem;
}

/* Border Animation */

.education-card:hover + .education-card-border {
  border-color: $educationCardBorder;
  width: 100%;
  transition: width 0.6s ease-in-out;
}

.education-card-border {
  height: 30px;
  width: 80%;
  border-top: 2px solid $lightBorder1;
  margin-bottom: 20px;
  transition: width 0.6s ease-in-out;
}

/* Responsive Design */

@media (max-width: 768px) {
  .education-card {
    flex-direction: column;
    text-align: center;
  }

  .education-card-left {
    margin: 0 0 1rem 0;
  }

  .education-card-right {
    padding: 0 1rem;
  }

  .education-roundedimg {
    width: 4rem;
    height: 4rem;
  }

  .education-text-school {
    font-size: 22px;
  }

  .education-text-subHeader,
  .education-text-duration {
    font-size: 16px;
  }

  .education-text-bullets > ul {
    padding-left: 0;
  }
}
